SAP_BASE_URL=https://your-sap-instance.hana.ondemand.com/dynamic_dest/hs4-s4hana-rt/sap/opu/odata/sap/O2C_FICA_CREDITITEM_ANALYSIS_SRV
SAP_SESSION_ID=your_jsessionid_here
SAP_VCAP_ID=your_vcap_id_here