# Environment
.env

# Data
data/raw/
data/staging/
data/curated/
outputs/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
**/.ipynb_checkpoints/

# Java/Spark logs
derby.log
metastore_db/
spark-warehouse/

# Airflow runtime
airflow/logs/
airflow/plugins/